*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.box{
  
  flex-direction: column;
  box-shadow: 0 0 5px black;
   border-radius: 5px;
    height: 28%;
    width:33%;
    /* gap: 20px; */
}
button{
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
}
#takeinput{
    font-size: 30px;
    border: 1px solid black;
   padding: 3px 15px;
    
}
h1{
    
    padding:15px 120px;
}
#reset{
    margin:15px 145px;
}
#decrement{
    margin-left: 20px;
}