*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: #ffffff;
}
img:hover{
    cursor: pointer;
}

.container{
   
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
  
    line-height: 50px;
    font-weight: 900;
    
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
ul{
    
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    font-weight: 400;
    justify-content: center;
    list-style: none;
}
.navbar ul li{
    
    color: #ffffff;
    font-size: 20px;
    padding-top:10px;

    margin-right: 25px;
    font-weight: 400;

}
.home-option{
    padding: 5px 10px;
    background-color: rgb(100, 100, 224);
    border-radius: 15px;
  
}


.Hero{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.left img{
    height: 40px;
}
.left .dev{
    font-size: 60px;

}
.devloper{
    color: yellow;
}
.right img{
    height: 400px;

}

.main{
    display: flex;
    flex-direction: column;


}
.main h1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-top: 50px;
}
.horizontal-line{
   border-radius: 10px;
    height: 10px;
    width: 133px;
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 608px;
 
}
.project_list{
   display: grid;
   grid-template-columns: 300px 300px;
   align-items: center;
   justify-content: center;
   row-gap: 10px ;
   column-gap: 20px;

}
p{
    text-align: center;
}
.contact-line{
    border-radius: 10px;
    height: 10px;
    width: 200px;
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 580px;
 
}
footer{
   
   
}
.foot{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:15px;

}
.foot img{
    width: 30px;
    
}